.version.contacts /* version checker */
{
	color: #0000EA;
	background-color: #361313;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1006px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u559
{
	z-index: 55;
	min-height: 169px;
	padding-bottom: 54px;
}

#u591-4
{
	z-index: 56;
	width: 380px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 122px;
}

#u559-bw
{
	z-index: 55;
	min-height: 169px;
}

#menuu530
{
	z-index: 2;
	width: 396px;
	margin-left: 542px;
	margin-top: 10px;
}

#u534
{
	width: 97px;
	padding-bottom: 12px;
}

#u536-4
{
	width: 97px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u534:hover #u536-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u555
{
	width: 97px;
	padding-bottom: 12px;
}

#u534.MuseMenuActive,#u555:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u558-4
{
	width: 97px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u534.MuseMenuActive #u536-4,#u555:hover #u558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u548
{
	width: 98px;
	padding-bottom: 12px;
}

#u551-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u548:hover #u551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u539
{
	width: 98px;
	padding-bottom: 12px;
}

#u540-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u548.MuseMenuActive #u551-4,#u539:hover #u540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u594-40
{
	z-index: 60;
	width: 540px;
	min-height: 445px;
	margin-left: 106px;
	margin-top: 44px;
}

#u528
{
	z-index: 27;
	min-height: 172px;
	padding-bottom: 20px;
}

#u559_align_to_page,#u528_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu562
{
	z-index: 30;
	width: 396px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 122px;
}

#u531,#u563
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
}

#u564
{
	width: 97px;
	padding-bottom: 12px;
}

#u566-4
{
	width: 97px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u555.MuseMenuActive #u558-4,#u564:hover #u566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u552,#u577
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 99px;
}

#u580
{
	width: 97px;
	padding-bottom: 12px;
}

#u555.MuseMenuActive,#u564.MuseMenuActive,#u580:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u580.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u583-4
{
	width: 97px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u564.MuseMenuActive #u566-4,#u580:hover #u583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u580.MuseMenuActive #u583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u545,#u584
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	left: 198px;
}

#u585
{
	width: 98px;
	padding-bottom: 12px;
}

#u587-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u539.MuseMenuActive #u540-4,#u585:hover #u587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u538,#u570
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u573
{
	width: 98px;
	padding-bottom: 12px;
}

#u548.MuseMenuActive,#u539.MuseMenuActive,#u585.MuseMenuActive,#u573.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u576-4
{
	width: 98px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u585.MuseMenuActive #u587-4,#u573:hover #u576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u573.MuseMenuActive #u576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u560
{
	z-index: 28;
	width: 229px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 809px;
}

#u528-bw
{
	z-index: 27;
	min-height: 172px;
	margin-top: 35px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

