#u591-4,#u536-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u558-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u551-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u658-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u540-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u594-5,#u594-6,#u594-8,#u594-9,#u594-12,#u594-16,#u594-18,#u594-19,#u594-21,#u594-22,#u594-25,#u594-26,#u594-31,#u594-32,#u594-34,#u594-35,#u594-38
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u594-2,#u594-3,#u594-10,#u594-13,#u594-15,#u594-23,#u594-28,#u594-29,#u594-36,#u566-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u583-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u587-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u646-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u576-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

