#u521-4,#u455-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u460-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u467-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u637-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u789-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u474-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u509-9,#u509-10,#u509-12,#u509-13,#u509-16,#u509-20,#u509-22,#u509-23,#u509-25,#u509-26,#u509-29,#u509-30,#u509-35,#u509-36,#u509-38,#u509-39,#u509-42
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u509-3,#u509-4,#u509-6,#u509-7,#u509-14,#u509-17,#u509-19,#u509-27,#u509-32,#u509-33,#u509-40,#u500-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u507-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u487-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u630-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u784-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u494-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u437-4,#u429-2,#u432-2,#u438-4,#u441-2,#u444-2,#u843-2
{
	font-family: open-sans-n7, sans-serif;
}

#u429-3,#u429-5,#u429-6,#u429-8,#u429-9,#u429-11,#u432-3,#u432-5,#u432-6,#u432-8,#u441-3,#u441-5,#u441-6,#u441-8,#u444-3,#u444-5,#u444-6,#u444-8,#u843-3,#u843-5,#u843-7,#u843-8,#u843-10,#u843-11
{
	font-family: open-sans-n4, sans-serif;
}

#u843-13
{
	font-family: open-sans-i6, sans-serif;
}

