#u214-4,#u257-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u376-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u285-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u619-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u252-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u229-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u370-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u279-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u654-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u234-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u345-4,#u348-4,#u350-6
{
	font-family: open-sans-n7, sans-serif;
}

#u357-8,#u357-13,#u357-18
{
	font-family: open-sans-n6, sans-serif;
}

#u343-4,#u347-7,#u349-4,#u357-2,#u357-3,#u357-5,#u357-6,#u357-10,#u357-11,#u357-15,#u357-16,#u357-20,#u357-21,#u357-23
{
	font-family: open-sans-n4, sans-serif;
}

#u394
{
	font-family: open-sans-condensed-n7, sans-serif;
}

