.version.index /* version checker */
{
	color: #00001F;
	background-color: #EF534B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2193px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u204
{
	z-index: 3;
	min-height: 169px;
	padding-bottom: 54px;
}

#u214-4
{
	z-index: 6;
	width: 380px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 122px;
}

#u204-bw
{
	z-index: 3;
	min-height: 169px;
}

#pu958-5
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 5px;
}

#u958-5
{
	z-index: 84;
	width: 396px;
	min-height: 44px;
	margin-right: -10000px;
}

#menuu239
{
	z-index: 47;
	width: 500px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 416px;
}

#u255
{
	width: 81px;
	padding-bottom: 12px;
}

#u257-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u255:hover #u257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u373
{
	width: 81px;
	padding-bottom: 12px;
}

#u255.MuseMenuActive,#u373:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u376-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u255.MuseMenuActive #u257-4,#u373:hover #u376-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 82px;
	padding-bottom: 12px;
}

#u285-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u282:hover #u285-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u617
{
	width: 82px;
	padding-bottom: 12px;
}

#u619-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u282.MuseMenuActive #u285-4,#u617:hover #u619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u766
{
	width: 82px;
	padding-bottom: 12px;
}

#u769-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u617.MuseMenuActive #u619-4,#u766:hover #u769-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u250
{
	width: 82px;
	padding-bottom: 12px;
}

#u252-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u766.MuseMenuActive #u769-4,#u250:hover #u252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u680
{
	z-index: 94;
	width: 832px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 106px;
	margin-top: 32px;
	position: relative;
}

#u345-4
{
	z-index: 102;
	width: 362px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u343-7
{
	z-index: 95;
	width: 812px;
	min-height: 121px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u348-4
{
	z-index: 110;
	width: 362px;
	min-height: 24px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 106px;
	margin-top: 29px;
	position: relative;
}

#u347-4
{
	z-index: 106;
	width: 812px;
	min-height: 155px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 126px;
	margin-top: 15px;
	position: relative;
}

#u874-5
{
	z-index: 153;
	width: 360px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 362px;
	margin-top: 38px;
	position: relative;
}

#pu678
{
	width: 0.01px;
	margin-left: 106px;
	margin-top: 16px;
}

#u678
{
	z-index: 114;
	width: 832px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u597
{
	z-index: 115;
	width: 799px;
	background-color: #0B0820;
	position: relative;
	margin-right: -10000px;
	padding: 7px 13px 590px 20px;
}

#u350-6
{
	z-index: 120;
	width: 715px;
	min-height: 60px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#pu349-4
{
	width: 0.01px;
	margin-top: 8px;
}

#u349-4
{
	z-index: 116;
	width: 437px;
	min-height: 265px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u351
{
	z-index: 126;
	width: 345px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 454px;
}

#u357-25
{
	z-index: 128;
	width: 748px;
	min-height: 68px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	left: 20px;
}

#u357-8,#u357-13,#u357-18
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u357-10,#u357-11,#u357-15,#u357-16,#u357-20
{
	padding-left: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u357-2,#u357-3,#u357-5,#u357-6,#u357-21,#u357-23
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u892-4
{
	z-index: 158;
	width: 171px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 653px;
}

#u394-5
{
	z-index: 89;
	width: 208px;
	min-height: 48px;
	background-color: transparent;
	text-align: center;
	margin-left: 126px;
	margin-top: 29px;
	position: relative;
}

#u394-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u394
{
	font-size: 36px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
	line-height: 43px;
}

#u203
{
	z-index: 2;
	min-height: 172px;
	padding-bottom: 20px;
}

#u204_align_to_page,#u203_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu217
{
	z-index: 10;
	width: 500px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 174px;
}

#u254,#u225
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u228
{
	width: 81px;
	padding-bottom: 12px;
}

#u229-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u373.MuseMenuActive #u376-4,#u228:hover #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u372,#u365
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u368
{
	width: 81px;
	padding-bottom: 12px;
}

#u373.MuseMenuActive,#u228.MuseMenuActive,#u368.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u370-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u228.MuseMenuActive #u229-4,#u368:hover #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u368.MuseMenuActive #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u281,#u274
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u277
{
	width: 82px;
	padding-bottom: 12px;
}

#u279-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u250.MuseMenuActive #u252-4,#u277:hover #u279-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u614,#u649
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u652
{
	width: 82px;
	padding-bottom: 12px;
}

#u654-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u277.MuseMenuActive #u279-4,#u652:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u765,#u793
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u796
{
	width: 82px;
	padding-bottom: 12px;
}

#u798-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u652.MuseMenuActive #u654-4,#u796:hover #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u247,#u232
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 418px;
}

#u233
{
	width: 82px;
	padding-bottom: 12px;
}

#u282.MuseMenuActive,#u617.MuseMenuActive,#u766.MuseMenuActive,#u250.MuseMenuActive,#u277.MuseMenuActive,#u652.MuseMenuActive,#u796.MuseMenuActive,#u233.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u234-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u796.MuseMenuActive #u798-4,#u233:hover #u234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u233.MuseMenuActive #u234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u211
{
	z-index: 4;
	width: 229px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 831px;
}

#u203-bw
{
	z-index: 2;
	min-height: 172px;
	margin-top: 38px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

