.version.people /* version checker */
{
	color: #0000E6;
	background-color: #F5CED7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2576px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u520
{
	z-index: 124;
	min-height: 169px;
	padding-bottom: 54px;
}

#u521-4
{
	z-index: 125;
	width: 380px;
	min-height: 76px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 122px;
}

#u520-bw
{
	z-index: 124;
	min-height: 169px;
}

#menuu450
{
	z-index: 2;
	width: 500px;
	margin-left: 438px;
	margin-top: 10px;
}

#u454
{
	width: 81px;
	padding-bottom: 12px;
}

#u455-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u454:hover #u455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u459
{
	width: 81px;
	padding-bottom: 12px;
}

#u454.MuseMenuActive,#u459:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u460-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u454.MuseMenuActive #u455-4,#u459:hover #u460-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u466
{
	width: 82px;
	padding-bottom: 12px;
}

#u467-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u466:hover #u467-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u636
{
	width: 82px;
	padding-bottom: 12px;
}

#u637-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u466.MuseMenuActive #u467-4,#u636:hover #u637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u787
{
	width: 82px;
	padding-bottom: 12px;
}

#u789-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u636.MuseMenuActive #u637-4,#u787:hover #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u473
{
	width: 82px;
	padding-bottom: 12px;
}

#u474-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u787.MuseMenuActive #u789-4,#u473:hover #u474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#ppu437-4
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 33px;
}

#pu437-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u437-4
{
	z-index: 156;
	width: 312px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u423
{
	z-index: 129;
	width: 292px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u430
{
	z-index: 144;
	width: 292px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u430_img
{
	margin-top: -12px;
	margin-bottom: -12px;
}

#pu429-13
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 53px;
	margin-left: 332px;
}

#u429-13
{
	z-index: 131;
	width: 292px;
	min-height: 365px;
	background-color: transparent;
	position: relative;
}

#u432-10
{
	z-index: 146;
	width: 292px;
	min-height: 365px;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#u511
{
	z-index: 79;
	width: 19px;
	height: 500px;
	margin-right: -10000px;
	left: 686px;
}

#u509-44
{
	z-index: 80;
	width: 190px;
	min-height: 59px;
	margin-right: -10000px;
	left: 706px;
}

#u438-4
{
	z-index: 160;
	width: 312px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 64px;
	margin-top: 57px;
	position: relative;
}

#u439
{
	z-index: 164;
	width: 292px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u441-10
{
	z-index: 166;
	width: 312px;
	min-height: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#pu439,#pu442
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 21px;
}

#u442
{
	z-index: 176;
	width: 292px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u430_clip,#u439_clip,#u442_clip
{
	overflow: hidden;
	width: 292px;
	height: 365px;
}

#u439_img,#u442_img
{
	margin-left: -37px;
	margin-right: -36px;
}

#u444-10
{
	z-index: 178;
	width: 312px;
	min-height: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#pu841
{
	width: 0.01px;
	margin-left: 84px;
	margin-top: 26px;
}

#u841
{
	z-index: 188;
	width: 292px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u841_img
{
	padding-top: 7px;
}

#u843-15
{
	z-index: 190;
	width: 312px;
	min-height: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u429-2,#u432-2,#u441-2,#u444-2,#u843-2
{
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u429-3,#u429-5,#u429-6,#u429-8,#u429-9,#u429-11,#u432-3,#u432-5,#u432-6,#u432-8,#u441-3,#u441-5,#u441-6,#u441-8,#u444-3,#u444-5,#u444-6,#u444-8,#u843-3,#u843-5,#u843-7,#u843-8,#u843-10,#u843-11
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u843-13
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u514
{
	z-index: 39;
	min-height: 172px;
	padding-bottom: 20px;
}

#u520_align_to_page,#u514_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu480
{
	z-index: 42;
	width: 500px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 122px;
}

#u451,#u495
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u498
{
	width: 81px;
	padding-bottom: 12px;
}

#u500-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u459.MuseMenuActive #u460-4,#u498:hover #u500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u458,#u502
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u505
{
	width: 81px;
	padding-bottom: 12px;
}

#u459.MuseMenuActive,#u498.MuseMenuActive,#u505:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u505.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u507-4
{
	width: 81px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u498.MuseMenuActive #u500-4,#u505:hover #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u505.MuseMenuActive #u507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u465,#u481
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u484
{
	width: 82px;
	padding-bottom: 12px;
}

#u487-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u473.MuseMenuActive #u474-4,#u484:hover #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u635,#u628
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u629
{
	width: 82px;
	padding-bottom: 12px;
}

#u630-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u484.MuseMenuActive #u487-4,#u629:hover #u630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u786,#u779
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u782
{
	width: 82px;
	padding-bottom: 12px;
}

#u784-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u629.MuseMenuActive #u630-4,#u782:hover #u784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u472,#u488
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 418px;
}

#u491
{
	width: 82px;
	padding-bottom: 12px;
}

#u466.MuseMenuActive,#u636.MuseMenuActive,#u787.MuseMenuActive,#u473.MuseMenuActive,#u484.MuseMenuActive,#u629.MuseMenuActive,#u782.MuseMenuActive,#u491.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u494-4
{
	width: 82px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u782.MuseMenuActive #u784-4,#u491:hover #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u491.MuseMenuActive #u494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u512
{
	z-index: 40;
	width: 229px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 809px;
}

#u514-bw
{
	z-index: 39;
	min-height: 172px;
	margin-top: 28px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

