<footer class="site-footer">
	<div style="background:#000000;max-width:1920px;height:250px">
		<p><h3><span style="color:#FFFFFF;float:left"><a href="index.html" style="color:#FFFFFF">HOME</a> <a href="apply.html" style="color:#FFFFFF">APPLY</a> <a href="curStaff.html" style="color:#FFFFFF">PEOPLE</a> <a href="history.html" style="color:#FFFFFF">HISTORY</a> <a href="sponsors.html" style="color:#FFFFFF">SPONSORS</a> <a href="contact.html" style="color:#FFFFFF">CONTACTS</a></h3></span></p>
		</br>
		<p><img src="images/logo.gif" alt="" style="float:right;background:#FFFFFF;margin:0px 20px"/></p>
	</div>
</footer>
