<header class="site-header" role="banner">
	<div class="image" style="overflow:hidden;max-width:1920px;height:150px">
		<img src="images/binary.jpg" alt="" style="margin:-5% 0px -50% 0px;"/>
		<font color=#FFFFFF><h1>LANL Co-Design Summer School</h1></font>
	</div>

	<div style="max-width:1920px;">
		<p><h2><span style="color:#FF0000;float:left;">Applications for CDSS25 are not open yet</span> <span style="float:right;"><a href="index.html">HOME</a> <a href="apply.html">APPLY</a> <a href="curStaff.html">PEOPLE</a> <a href="history.html">HISTORY</a> <a href="sponsors.html">SPONSORS</a> <a href="contact.html">CONTACTS</a></span></h2></p>
  	</div>
				</br>
</header>
